<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> navbar}}
        <section>
            <h1>Se produjo un error al generar el usuario</h1>
            <h2>Por favor vuelva a intentar nuevamente</h2>
            <button type='button' class='btn btn-outline-success'>
                <a href='./signup' style='text-decoration: none;'>
                    Sign Up
                </a>
            </button>
        </section>
    </body>
</html>