<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{>navbar}}
        <h1>Error: ruta no encontrada</h1>
        <h2>Vuelva a intentar</h2>
        <button type="button" class="btn btn-outline-succes"><a href="./login" style="text-decoration:none">Login</a></button>
    </body>
</html>