<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{>navbar}}
        <h1>Ruta Info</h1>
        <h2>Esto es para ver cual es la diferencia entre transferencia con y sin compresion</h2>
        {{>footer}}
    </body>
</html>