<h2>Logout success!</h2>
<img src='https://cdn-icons-png.flaticon.com/512/1176/1176441.png' class='arrow' alt='success!' />
<p>Vuelve pronto</p>
<p> <strong class='capitalize'>{{username}}</strong> </p>

<script>
    setTimeout(() => { window.location.href = '/'}, 2000);
</script>