<h1>
    Registro exitoso
</h1>
<div>
    <div>
        <label for='login' class='form-label fw-bold text-secondary fs-3'>Los datos con los que se
            registró son:</label>
        <div>
            User:
            {{user.username}}
            <br />
            Password:
            {{user.password}}
        </div>
    </div>
    <br />
    <button type="'button" class='btn btn-outline-danger'>Para salir haga clic
        <a href='./logout' style='text-decoration: none;'>aqui</a></button>
</div>