<form method="post" action="/login">
  <h2>Iniciar Sesion</h2>
  <img
    src="https://cdn-icons-png.flaticon.com/128/1828/1828328.png"
    class="arrow"
    alt=""
  />
  <p class="pista">"user: pipo at pipo - pass: pipopass"</p>
  <input placeholder="username" name="username" />
  <input placeholder="password" name="password" type="password" />
  <button type="submit">Login</button>
</form>