{{> navbar}}
<form
    action="/products"
    method="POST"
    class="d-flex justify-content-center align-items-center flex-column"
    style="height: 100vh"
>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product name</label>
        <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="title"
        />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product price</label>
        <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="price"
        />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product img URL</label>
        <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="thumbnail"
        />
    </div>
    <button type="submit" class="btn btn-primary">
        Upload product
    </button>
    <a href="/products" class="btn btn-dark mt-2">View products</a>
    
</form>
Footer