{{> navbar}}
<form
    action="/productos"
    method="POST"
    class="d-flex justify-content-center align-items-center flex-column"
    style="height: 100vh"
>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
        <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="title"
        />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Precio</label>
        <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="price"
        />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">URL imagen</label>
        <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="thumbnail"
        />
    </div>
    <button type="submit" class="btn btn-primary">
        Agregar producto
    </button>
    <a href="/productos" class="btn btn-secondary mt-2">Ver productos</a>
    
</form>
Footer