<html lang='en'>
  <head>
    {{> head}}
  </head>
  <body>
    {{> navbarLog}}
    {{> footer}}
    <script>
    const timer = () => { 
      setTimeout(() => {
        document.location.href = '/privado' },
        2000);
        };
    timer()
    </script>

  </body>
    {{> script}}
</html>